<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Create Collection Member</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">
    <div class="container" style="width: 728px;">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row ">
                    <!-- <div class="col-lg-5 d-none d-lg-block"></div> -->
                    <div class="col-lg-12 ">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create collection member</h1>
                            </div>
                            <form action="/create-collection-member" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>Firstname</label>
                                    <input type="text" id="firstname" name="firstname" class="form-control" placeholder="Enter firstname" required/>
                                </div>
                                <div class="form-group">
                                    <label>Lastname</label>
                                    <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Enter lastname" required/>
                                </div>
                                <div class="form-group">
                                    <label>Date Of Birth</label>
                                    <input type="date" id="dateOfBirth" name="dateOfBirth" class="form-control" placeholder="Enter Date Of Birth" required/>
                                </div>
                                <div class="form-group">
                                    <label>Gender</label>
                                    <div class="form-gender" style="display: flex;">
                                        <div class="form-gender-1" style="padding-left: 12em;">
                                            <input type="radio" id="male" name="gender" value="male">
                                            <label for="male">Male</label>
                                        </div>
                                        <div class="form-gender-1" style="padding-left: 4em;">
                                            <input type="radio" id="female" name="gender" value="female">
                                            <label for="female">Female</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Phone number</label>
                                    <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control" placeholder="Enter phone number" required/>
                                </div>
                                <div class="form-group">
                                    <label>Address</label>
                                    <div class="form-address" style="margin: 0 5em 0 5em;">
                                        <!-- <%= include('layouts/address'); %> -->
                                        Select Province: <select name="province" id="provinceSel" size="1">
                                                    <option value="" selected="selected">Select Province</option>
                                                    </select>
                                        <br>
                                        <br> Select District: <select name="district" id="districtSel" size="1">
                                                    <option value="" selected="selected">Please select Province first</option>
                                                    </select>
                                        <br>
                                        <br> Select Wards: <select name="wards" id="wardsSel" size="1">
                                                    <option value="" selected="selected">Please select District first</option>
                                                    </select><br>
                                        <closeform></closeform>
                                        <br>
                                        <input id="specificAddress" name="specificAddress" class="form-control" placeholder="Enter specific address" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Collector Name</label>
                                    <input type="text" id="collectorName" name="collectorName" class="form-control" placeholder="Enter Collector Name" />
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" onkeyup="checkPass(); return false;" required/>
                                    <div id="error-nwl"></div>
                                </div>
                                <div class="form-group">
                                    <label for="avatar">Avatar collection member</label>
                                    <input type="file" id="avatar" name="avatar" class="form-control" />
                                </div>
                                <div class="form-group" style="float: left; margin-top: 1.5em;">
                                    <a href="/admin" class="btn btn-primary btn-user btn-return">Return</a>
                                </div>
                                <div class="form-group" style="float: right; margin: 1.5em 0 3em 0;">
                                    <button type="submit" class="btn btn-primary" id="sendMessageButton">Create Collection Member</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('layouts/address'); -%>
        <%- include('layouts/script'); -%>

            <script>
                function checkPass() {
                    var password = document.getElementById('password');
                    var message = document.getElementById('error-nwl');
                    var goodColor = "#66cc66";
                    var badColor = "#ff6666";

                    if (password.value.length > 6) {
                        password.style.backgroundColor = goodColor;
                        message.style.color = goodColor;
                        message.innerHTML = "Valid Password!"
                    } else {
                        password.style.backgroundColor = badColor;
                        message.style.color = badColor;
                        message.innerHTML = "Your password must be at least 6 characters!"
                        return;
                    }
                };
            </script>
</body>

</html>